/* App.css */
.App {
 }
 
 .App main{
  flex: 1;
 }
main{
  min-height: 81.9vh;
  padding: 2%;
  --s: 100px; /* control the size */
  --c1: #E1F5C4;
  --c2: #3B8183;
  
  --_g:#0000, #0004 5%,
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,
     var(--c2) 86% 94%,#0004 95%,#0000;
  background:
    radial-gradient(100% 50% at 100% 0   ,var(--_g)),
    radial-gradient(100% 50% at 0    50% ,var(--_g)),
    radial-gradient(100% 50% at 100% 100%,var(--_g));
  background-size: var(--s) calc(2*var(--s));
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.wrapper-home{
  display: flex;
  flex-direction: column;
}
.spacer{
  height: 3vh;
}
.notfoundland{
  min-height: 81.9vh;
  padding: 2%;
  --s: 100px; /* control the size */
  --c1: #E1F5C4;
  --c2: #3B8183;
  
  --_g:#0000, #0004 5%,
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,
     var(--c2) 86% 94%,#0004 95%,#ff0c0c00;
  background:
    radial-gradient(100% 50% at 100% 0   ,var(--_g)),
    radial-gradient(100% 50% at 0    50% ,var(--_g)),
    radial-gradient(100% 50% at 100% 100%,var(--_g));
  background-size: var(--s) calc(2*var(--s));
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh;
}