@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
.billboard{
    margin-top: 30px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.billboard-title{
    text-align: center;
    height: 15vh;
    font-family: sans-serif;
    font-style: italic;
    font-size: 50px;
    padding: 1.2%;
    color: white;
    height: 9vh;
    font-size: 35px;    
    font-weight: bold;
    margin-bottom: 20px;
    /* border-radius:6px 6px 1px 1px ; */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
    /* background-color:#E1F5C4; */
}

.wrapper-billboard{
    display: flex;
    flex-direction: row;
 
    /* min-width: 400px; */
    /* min-height: 500px; */
    width: 80%;
    /* gap: 2rem; */
    /* padding: 1%; */
    border-radius: 8px;
    /* border: 1px solid #fff; */
    height: max-content;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
}

.bill-wrapper{
    display: flex;
    flex-direction: column;
}



.big-notification{
   
    height: max-content;
    margin-top: 10px;


    /* width: 100%;
    display: flex; 
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-items: center; */
}

.bill{
     display: flex;
     border-radius: 10px;
     background: #232D3F;
     color: white;
     height: 8vh;
    /* width: 100%;
   
    max-height: 70px;
    
    box-shadow: 0 2px 5px 0 rgba(148, 147, 147, 0.801),0 2px 10px 0 rgba(0,0,0,0.12);
    
     */
}
.current-note{
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 2%;
    background: #232D3F;
    color: rgb(228, 227, 236);
    font-size: medium;
}
.billboard-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.4rem;
    position: relative;
    top: 14%;
}
.bills{
    display: flex;
    flex-direction: column;
    min-height: 33vh;
    width: 100%;
    justify-content: flex-start;
    padding: 1%;
    row-gap: 0.6rem;
}

.bill:hover{
    cursor: pointer;
}
.date{
    position: relative;
    right: 0; /* Center items horizontally */
    align-items: center;
}
.description{
    justify-content: center; 
    align-items: center;
}
.pageit{
    /* position: relative;
    bottom: 1%;
    flex-direction: row;
    display: flex; */
    display: flex;
    justify-content: center;
}
.btn{
    border-radius: 10px;
    background: #008170;
    color: white;
    font-family: "Yanone Kaffeesatz", sans-serif;
    align-items: center;
    justify-items: center;
    position: relative;
    margin-right: 10px;
}
.btn:hover{
    border-radius: 10px;
    background-color: #02463b;
    color: white;
}

/* .note-desc{
    font-family: "Lobster";
    font-size: 30px;
    padding: 5%;
    border-radius: 6px 6px 1px 1px;
    align-items: baseline;
    color: rgb(0, 0, 0);
} */
/* .note-text{
    height: 100%;
    font-family: "Yanone Kaffeesatz", sans-serif;
    /* padding: 1%;
    padding-left: 5%;
    padding-right: 5%; 
    padding: .5%;
    font-size: 17px;
    color: rgb(0, 0, 0);
    border-radius: 1px 1px 6px 6px;
} */

.bill_desc{
    padding: 2vh;
    width: 100%;
    font-weight:500;
}
.bill_date{
    padding: 2.5vh;
    width: 20%;
    position: relative;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: white;
    background: #232D3F;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .billboard-title{
        height: 9vh;
        font-size: 28px;
        margin-bottom: 10px;
    }
    .note-text{
        font-size: 85%;
    }
    .bill_desc{
        width: 70%;
        font-weight: 400;
        /* padding: 3vh ;   */
    }
    .bill_date{
        width: max-content;
        white-space: nowrap;
    }
    .bill{
        justify-content: space-between;
    }
    .current-note{
        padding: 4%;
        font-size: small;
    }
}
@media screen and (max-width: 376px){
    
    .bill_desc{
        font-size: 10.5px;
    }
    .current-note{
        padding: 5%;
    }
   
}