@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


.card-container {
    width: 100%;
    max-width: 400px;
    margin: 2em auto;
    filter: blur(5px);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 2rem;
}

h1 {
    font: var(--var-heading);
    color: var(--var-lightest);
    padding: 1.2em 0;
}

h2 {
    font: var(--var-small-heading);
    color: var(--var-lightest);
}

p {
    font: var(--var-para);
    color: var(--var-soft-blue);
}

@media (min-width:600px) {
    body {
        font-size: 18px;
    }
}
