
.card {
    border-radius: 8px;
    height: 350px;
    width: 270px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
    opacity: 0.6;
}

.footer {
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
}



.info {
	font-family: Inconsolata;
    padding-left: 20px;
    transform: translateY(250px);
    background-color: aliceblue;
    height: 100%;
    transition: transform 1s cubic-bezier(5,0,0,0);
}

.card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
}

.job {
    margin-top: 10px;
}
.billboard-container{
    display: flex;
    height: 40vh;
    width: 100%;
    background-color: aquamarine;
}
