.carousalItem{
    width: 100%;
    max-height: 700px;
    background-color: black;
}
img{
    width: 100%;
}
.textCarousal{
    display: block;
}
.carousalItem:hover + .textCarousal{
    display: block;
}