@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Lobster&display=swap');
.section_cards{ 
  /* background-color: antiquewhite; */
  /* border-radius: 20px; */
  margin-top: 40px;
  }
.title_cards {
  
    text-align: center;
    height: 10vh;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-size: 50px; */
    padding: 1%;
    color: white;
    font-style: italic;
    
  }
.blob1{
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  width: 444px;
  height: 410px;
  background-color: aqua;
  position: absolute;
}
.slick-slide > div {
  margin: 0 10px;
}
