@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Lobster&display=swap');
.section_cards{ 
  /* background-color: antiquewhite; */
  /* border-radius: 20px; */
  margin-top: 40px;
  }
.title_cards {
  
    text-align: center;
    height: 60px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-size: 50px; */
    padding: 1%;
    color: white;
    font-style: italic;
    margin-bottom: 20px;
    
  }
.blob1{
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  width: 444px;
  height: 410px;
  background-color: aqua;
  position: absolute;
}
.slick-slide > div {
  margin: 0 10px;
}
.gallery{
  display: none;
}


.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
 
}
.slick-next{
  height: 100%!important; 
}
.slick-prev{
  height: 100%!important; 
}

.slick-prev:before {
  margin-left: -9px !important; 
}

/* @media screen and (max-width: 680px){
   .outer-box{
    max-width: 300px!important;
  } 
  
} */
@media screen and (max-width: 600px){
  .gallery{
    display: block;
  }
  .hide{
    display: none;
  }
  .outer-box{
    margin: 0!important;
    width: 100%!important;
  }
  .title_cards {  
    margin-bottom: 10px;
    
  }
}
