@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Lobster&display=swap');
.section_cards{
  background-color: antiquewhite;
  }
.title_cards {
    text-align: center;
    height: 10vh;
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    padding: 1%;
    color: rgb(87, 87, 87);
  }
  