.header {
    background-color: #900c38;
    color: #fff;
    padding: 20px 0;
}

.header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0 22vh
}

.header nav ul a {
    color: #fff;
    text-decoration: none;
}
.header a {
    cursor: pointer;
}

/* .header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
} */

@media screen and (max-width : 1100px){
    .header nav ul {
        margin: 0;
    }
   }