@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Lobster&display=swap');
.title{
  font-family: 'Kalnia';
  font-size: 24px;
  width: 100%;
  position: relative;
  top: 5px;
}
.navbar-collapse .show{
  display: flex;
  border-radius: 0 0 20px 20px;
  background-color: #44bba4ff; /* Change the background color */
  flex-direction: column;
}
#navbar{
  text-align: center;
  padding-right: 1%;
  background-color: antiquewhite;
  min-height: 5.2vh;
}
.props{
  top: 0%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  margin-left: auto;
  max-width: 400px;
  padding: 0%;
  z-index: 1;
}
.navbar-toggler{
  margin-left: auto;
}
.spacer{
  width: 7%;
}
.smalltitle{
  font-family: 'Kalnia';
  font-size: 8px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.titlebox{
  flex-direction: column;
  bottom: 0;
  height: 100%;
  color: rgb(70, 70, 70);
}
.nav-link{
  font-family: "Oswald",sans-serif;
}