@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
.title{
  font-family: 'Kalnia';
  font-size: 24px;
  width: 100%;
  position: relative;
  top: 5px;
  height: auto;
}
.navbar-collapse .show{
  display: flex;
  border-radius: 0 0 20px 20px;
  background-color: #F8F9FA; /* Change the background color */
  flex-direction: column;
}
.navbar{
  text-align: center;
  padding-right: 1%;
}
.props{
  top: 0%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  margin-left: auto;
  max-width: 400px;
  padding: 0%;
  z-index: 1;
}
.navbar-toggler{
  margin-left: auto;
}
.spacer{
  width: 7%;
}
.smalltitle{
  font-family: 'Kalnia';
  font-size: 8px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.titlebox{
  flex-direction: column;
  bottom: 0;
  height: 100%;
  color: rgb(70, 70, 70);
}