.oppam{
    
    text-align: center;
    color: white;
    font-style: italic;
    background-color: inherit;
}
.top{
    padding: 100px 100px 30px 100px;
}
.top p{
    margin: 30px 0 0 0;
}

.box{
    display: flex;
    justify-content: center;
}


.content{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

@media screen and (max-width: 768px){
    .top{
        padding: 50px;
    }
}

